<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.mochamadahya.angleres">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Angleres.NoActionBar">
        <activity android:name=".activity.EditPostinganActivity"
            android:theme="@style/Theme.Angleres"
            android:parentActivityName=".activity.DetailActivity"></activity>

        <activity android:name=".activity.TokoActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Angleres" />
        <activity
            android:name=".activity.PenyewaanActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Angleres" />
        <activity
            android:name=".activity.LokasiActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Angleres" />
        <activity
            android:name=".activity.LiveStreamingActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Angleres" />
        <activity
            android:name=".activity.EventActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Angleres" />
        <activity
            android:name=".activity.DetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Angleres" />
        <activity
            android:name=".activity.CommentActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Angleres" />
        <activity
            android:name=".activity.BisnisActivity"
            android:theme="@style/Theme.Angleres" />
        <activity android:name=".activity.auth.UpdateEmailActivity" />
        <activity
            android:name=".activity.auth.ResetPasswordActivity"
            android:parentActivityName=".activity.auth.LoginActivity"
            android:theme="@style/Theme.Angleres" />
        <activity android:name=".activity.auth.ChangePasswordActivity" />
        <activity android:name=".activity.auth.RegisterActivity" />
        <activity android:name=".activity.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UploadVideoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Angleres" />
        <activity android:name=".activity.AddVideoBeritaActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>